/* COMMON */
header ul,
footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1 {
    font-size: 40px;
}

img {
    max-width: 100%;
}

/* Backgrounds */
.green_background {
    background-color: #1abc9c;
    color: white;
}

/* Custom containers */
.small_container {
    width: 60%;
    margin: auto;
    max-width: 1000px;
}

/* HEADER */
header {
    background-color: #2d3e4f;
    color: white;
    padding: 30px 0;
}
/* Header left col */
.brand {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
/* Header right col */
.burger {
    font-size: 30px;
    text-align: right;
}
.menu-container {
    text-align: right;
}
.menu-container li {
    display: inline-block;
    margin-left: 20px;
}
.menu-container a {
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    color: inherit;
}

/* MAIN */
section {
    padding: 50px 0;
}
.section-heading {
    margin-bottom: 20px;
    text-align: center;
}
.section-heading h2 {
    font-size: 30px;
}
/* Jumbotron section */
.jumbotron {
    text-align: center;
}

.jumbotron-image img {
    width: 220px;
}

.jumbotron-image {
    margin-bottom: 20px;
}

.icon-star {
    font-size: 26px;
}

.icon-star::before,
.icon-star::after {
    content: '\2015 \2015 \2015';
    font-weight: bold;
    width: 10%;
}

.jumbotron-intro {
    font-size: 18px;
    margin-top: 10px;
}

/* Portfolio section */
.portfolio-item-content {
    margin-bottom: 20px;
    border-radius: 10px;   
}

.portfolio-item-content img {
    border-radius: 10px;
}

/* About section */
.about-content-item {
    margin-bottom: 30px;
}
.about-download {
    text-align: center;
}
.about-download i {
    padding-right: 5px;
}
.btn_download {
    color: white;
    border-color: white;
}
input[type="text"],
input[type="email"],
textarea.form-control {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    font-size: 16px;
    padding-bottom: 10px;
}
.form-control:focus {
    box-shadow: none;
}
.btn_submit {
    color: #fff;
    background-color: #1abc9c;
    border-color: #1abc9c;
}
/* FOOTER */
footer {
    color: white;
}
/* Footer top */
.footer-top {
    background-color: #3b546d;
    padding: 40px;
    text-align: center;
}
.footer-bottom {
    background-color: #2d3e4f;
    padding: 30px;
}
.footer-col-content {
    margin-bottom: 30px;
}

.footer-col-title {
    font-size: 22px;
}
.social-container {
    margin-top: 10px;
}
.social-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social-container li {
    display: inline-block;
    margin: 0 3px;
}

.social-container a {
    text-decoration: none;
    color: inherit;
    border: 1px solid white;
    border-radius: 50%;
}

.text-green {
    color: #1abc9c;
}

.fb-logo {
    font-size: 18px;
    padding: 5px 12px;
}

.gg-logo {
    font-size: 18px;
    padding: 5px 6px;
}

.tw-logo {
    font-size: 18px;
    padding: 5px 8px;
}

.in-logo {
    font-size: 18px;
    padding: 5px 10px;
}
/* Footer bottom */
.footer-bottom {
    text-align: center;
}
